.dashboard {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background);
  flex: 1;
}
.dashboardHeader {
  display: flex;
  flex: 0.1;
  border-bottom: 1px solid var(--form-border-color);
  padding: 0.7rem 2rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-background);
}

.logoSection {
  flex: 0.1;
}

.barSection {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 8rem;
}

.mainSection {
  display: flex;
  flex-direction: row;
  flex: auto;
  width: 100vw;
  height: 100vh;
}


.leftPane {
  flex: 0.25;
  border-right: 1px solid var(--form-border-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.collapsedLeftPane {
  flex: 0.05;
  border-right: 1px solid var(--form-border-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.leftPaneFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  border-top: 1px solid var(--form-border-color);
  width: 100%;
  padding: 0.5rem 0.8rem;
}

.leftPaneFooter .collapseText {
  font-size: 18px;
}

.leftPaneFooter .btn {
  cursor: pointer;
}

.bodySection {
  flex: auto;
}

.smallPopup {
  border: 1px solid var(--form-border-color);
  background-color: var(--grey-background);
  width: 18rem;
  position: absolute;
  right: 0;
  margin-right: 2rem;
  margin-top: 1rem;
  padding: 1rem 1rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .barSection {
    display: none;
  }
}
