.container {
  background: var(--form-container-bg);
  border: 1px solid var(--form-border-color);
  border-radius: var(--form-border-radius);
  width: 30rem;
  padding: 3.5rem 2.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--primary-foreground);
}

.subtitle {
  font-size: 0.95rem;
  font-weight: 200;
  color: var(--secondary-foreground);
}

@media screen and (max-width: 700px) {
  .container {
    width: 90%;
    padding: 2rem 2rem;
    
  }
  .title {
    font-size: 1.1rem;
    font-weight: 400;
  }

  .subtitle {
    font-size: 0.7rem;
  }
}
