.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .links {
  display: flex;
  align-items: center;
}

.links .innerLink {
  margin-right: 1rem;
}

.innerLink.register {
  margin-right: 0;
  background-color: var(--logo-color);
  color: var(--primary-background);
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
}

.main {
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.bigBody {
  display: grid;
  grid-template-columns: 35% auto;
  height: 95vh;
}

.bigBody div {
  align-self: center;
}

.hero h1 {
  font-size: 3.5rem;
  line-height: 3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.hero p {
  font-size: 1.1rem;
  line-height: 1.2rem;
  font-weight: 300;
  margin-bottom: 3rem;
  color: var(--secondary-foreground);
}

button.heroButton {
  background-color: var(--primary-background);
  color: var(--primary-foreground);
  height: 3rem;
  width: 18rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.info {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border: 2px solid var(--form-border-color);
  border-radius: 13px;
}

.info .infoTitle {
  font-size: 3rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.info .infoDescription {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--secondary-foreground);
  margin-bottom: 1rem;
}

.info .infoIcon {
  padding: 0.5rem;
  background-color: #3f3f3f;
  width: 4rem;
  height: 4rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.annoncement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem 0;
}

.annoncement h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  width: 60%;
  text-align: center;
}

.annoncement p {
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--secondary-foreground);
  margin-bottom: 2rem;
  width: 60%;
  text-align: center;
}

.footer {
  background-color: #262626;
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.connectionSection {
  display: grid;
  grid-template-rows: 90% 10%;
}
.connectionSection h3 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--primary-foreground);
  margin-bottom: 0.5rem;
}

.connectionWrapper {
  width: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobileImage {
  display: none;
}

.banner {
  color: var(--secondary-foreground);
  font-size: 0.9rem;
}
@media screen and (max-width: 700px) {
  .main {
    padding: 2.5rem 1.8rem;
    display: flex;
  }

  .imageWrapper {
    display: none;
  }

  .mobileImage {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 3rem;
  }

  .mobileImage .heroImage {
    width: 100%;
    height: 100%;
  }

  .bigBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 4rem;
  }
  .hero {
    margin-top: 3rem;
  }

  .hero h1 {
    font-size: 2.2rem;
    line-height: 2rem;
    font-weight: 600;
    margin-top: 6rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .hero p {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--secondary-foreground);
    text-align: center;
  }

  .heroButton,
  .mainHero {
    background-color: #fff !important;
    color: black !important;
    border-radius: 2rem !important;
    margin-right: 0rem !important;
    padding: 0 !important;
  }

  .mainHero {
    display: none !important;
    margin-top: 4rem !important;
  }

  .info {
    width: 18rem;
    /* height: 16rem; */
    margin-right: 0;
    padding: 1rem 1rem;
  }
  .info .infoTitle {
    font-size: 2rem;
  }
  .info .infoDescription {
    font-size: 1rem;
  }
  .info:not(:last-child) {
    margin-bottom: 2rem;
  }
  .infoSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .annoncement {
    margin: 4rem 0;
  }

  .annoncement h3 {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
  }

  .annoncement p {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--secondary-foreground);
    margin-bottom: 2rem;
    width: 90%;
    text-align: center;
  }

  .footer {
    flex-direction: column;
    padding: 1.5rem;
  }

  .connectionSection .logoWrapper {
    justify-self: center;
  }

  .connectionSection h3 {
    display: none;
  }

  .logoWrapper {
    align-self: flex-start;
  }
}
